<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="parts/common :: common_header(~{::title})">
    <title>Home</title>
</head>
<body>

<div th:replace="parts/navbar :: navbar"></div>

<div class="container mt-5">

    <h1>Welcome!</h1>

    <p>Click <a th:href="@{/messages}">here</a> to see a greeting.</p>

</div>

<div th:replace="parts/common :: bootstrap_scripts"></div>

</body>
</html>